<h2> Categories </h2>

<p>Add a Category</p>

<%= form_for(@admin, :html => { :multipart => true }) do |f| %>
  <% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@admin.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "form-group" >
  <%= simple_form_for @category do |f| %>
      <%= f.input :name, input_html: { class: 'form-control' } %>

      <%= f.submit class: "btn btn-primary" %>
  <% end %>


</div>

<% end %>