<div class="row">
	<div class="col-md-2">
		<div class="profile-image center">
		<%= image_tag @users.image.url(:thumb) %>
		</div>
		
	</div>
	<div class="col-md-1">
		<strong>RANK</strong>
		<br>
		<br>
		<br>
		<div class="double-size"><%= image_tag "rank.png" %></div>
	</div>
	<div class="col-md-9">
		<strong>BADGES EARNED</strong>
		<%= image_tag "Badges.png" %>
		
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-2">
		<div class="profile-name">
			<%= current_user.name.upcase %>
		</div>
	</div>
	<div class="col-md-10">
		<div class="line">
			<strong>NEWS FEED</strong>
			<span>
			<%= link_to 'ALL', profile_path %>
			<%= link_to 'FRIENDS', profile_path, id: "friends", remote: true %>
			<%= link_to 'MINE', profile_path, id: "mine", remote: true %>
			</span>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-3">
		<div id="profiledatepicker" class="date" data-date-format="mm/dd/yyyy"></div>
	</div>

	<div class="col-md-7" id="userEvents">

		<% @events.each do |event| %>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-2 back-fill profile-date">
					<div class="month">	<%= event.event_date.strftime("%^b") %> </div>
					<div class="date"> <%= event.event_date.strftime("%d") %> </div>
					<div class="day"><%= event.event_date.strftime("%^a") %> </div>
				</div>
				<div class="col-md-8">
					<div class="profile-event-header">
						<%= event.category.name %>
						<span><%= link_to "Enlist", {action: "create", controller: "volunteers", event_id: event.id}, method: :post, data: { no_turbolink: true} %></span>
					</div>
					<div class="profile-description">
						<%= truncate(event.description, :length => 180) %> <br>

					</div>
				</div>
			</div>
		</div>
		

		<% end %>
	</div>
</div>