<div class="row">
	<div class="col-md-2">
		<div class="profile-image">
		<%= image_tag "profile.gif" %>
		</div>
		
	</div>
	<div class="col-md-1">
		<strong>RANK</strong>
		<br>
		<br>
		<br>
		<div class="double-size"><%= image_tag "rank.png" %></div>
	</div>
	<div class="col-md-9">
		
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-2">
		<div class="profile-name">
			<%= current_user.name.upcase %>
		</div>
	</div>
	<div class="col-md-10">
		<div class="line">
			<strong>NEWS FEED</strong>
			<span>
			<%= link_to 'PERSONAL', profile_path %>
			<%= link_to 'CORPORATE', profile_path %>
			<%= link_to 'FRIENDS', profile_path %>
			<%= link_to 'ALL', profile_path %>
			</span>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-3">
		<div id="profiledatepicker"></div>
	</div>

	<div class="col-md-7">

		<% @events.each do |event| %>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-2 back-fill profile-date">
					<div class="month">	<%= event.event_date.strftime("%^b") %> </div>
					<div class="date"> <%= event.event_date.strftime("%d") %> </div>
					<div class="day"><%= event.event_date.strftime("%^a") %> </div>
				</div>
				<div class="col-md-8">
					<div class="profile-event-header">
						<%= event.category.name %>
						<span><%= link_to 'Enlist', profile_path %></span>
						<span><%= link_to 'Recruit', profile_path %></span>
					</div>
					<div class="profile-description">
						<%= truncate(event.description, :length => 180) %> <br>
						<strong> 4 Animal Lovers Going </strong>
					</div>
				</div>
			</div>
		</div>
		

		<% end %>
	</div>
</div>