<%= form_for(@event, :html => { :multipart => true }) do |f| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "form-group" >
  <%= simple_form_for @event do |f| %>
      <%= f.input :name, input_html: { class: 'form-control' } %>
      <%= f.input :description, input_html: { class: 'form-control' } %>

      <%= f.input :category_id, as: :select, collection: Category.all.order("name ASC"), include_blank: "Select a category...", input_html: { class: 'form-control' } %>

      <div id="image_select">
        <% @event_images.each do |event_image| %>
        <div class="col-md-3">
          <%= image_tag event_image.image.url(:thumb) %>
        </div>
        <% end %>
      </div>


      <%= f.input :volunteers_needed, input_html: { class: 'form-control'} %> <br>

      
      <%= f.input :event_date, as: :string, label: 'Date', input_html: { id: "begin-date", class: 'form-control', placeholder: Date.today.strftime("%m/%d/%Y") } %>


      <%= f.input :event_time, as: :string, input_html: { id: "timepicker", class: 'form-control', value: @event.event_time.blank? ? " " : @event.event_time.strftime("%l:%M %p") } %>


      <%= f.input :zip_code, input_html: { class: 'form-control' } %> <br>
      <%= f.submit class: "btn btn-primary" %>
  <% end %>


</div>

<% end %>
