<ul class="nav nav-pills nav-stacked right" id="sidebar">
	<div class="form-groups">

				<div id="search">
					<br>
				    <%= form_tag(events_path, :method => "get", id: "search-form") do %>
				    <span class="search-bar">
				    <%= search_field_tag :search, params[:search], placeholder: "Search Events", class: "form-control" %>
					</span>
				    <br>
				    <div class="search-categories">
				    	<div class="input-group">
						    <% @categories.each do |category| %>
						    	<li>
						    		<span class="input-group">
						    			<%= check_box_tag 'category_id[]', category.id, checked=false, id: category.name %>
						    			<%= h category.name %>
						    		</span>
						    	</li>
						    <% end %>
						</div>
				    <br>
				    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
					</div>

				    <% end %>

				</div>

	</div>
</ul>