<div class="heading">
<h1>Volunteer Events</h1>
</div>

<% if organization_signed_in? %>
<div class="event-button">
<%= link_to 'New Event', new_event_path, class: "btn btn-primary" %>
</div>
<% end %>

<br>

<div class="center">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag("default.jpeg"), event %>
          <div class="caption">
            <h3><%= event.name %></h3>
            <p>By: <%= event.organization.name %></p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= event.volunteers_percentage %>" aria-valuemin="0" aria-valuemax="100" style= "width: <%= number_to_percentage(event.volunteers_percentage) %>" >
                <%= event.volunteers_current %> / <%= event.volunteers_needed %>
              </div>
            </div>


          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

