<div class="row">
	<div class="col-md-2">
		<div class="center">
		<%= image_tag @organization.image.url, :class => "profile-image" %>
		</div>
		
	</div>

	<div class="col-md-10 profile-byline">
		The American Red Cross exists to provide....
		
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-2">
		<div class="profile-name left">
			<%= current_organization.name.upcase %>
		</div>
	</div>
	<div class="col-md-10">
		<div class="line">
			<strong>NEWS FEED</strong>
			<span class="red-text">
			<%= link_to 'UPCOMING', organizations_profile_path %>
			<%= link_to 'VOLUNTEERS', organizations_profile_path, id: "volunteers", remote: true  %>
			<%= link_to 'NEW', '#' %>
			</span>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-3">
		<div id="profiledatepicker" class="date" data-date-format="mm/dd/yyyy"></div>
		<div class="red-button center">
			<%= link_to 'Create New Event', new_event_path %>
		</div>
	</div>

	<div class="col-md-7" id="userEvents">

		<% @events.each do |event| %>

		<div class="panel panel-default">
			<div class="panel-body" >
				<div class="col-md-2 back-fill profile-date">
					<div class="month">	<%= event.event_date.strftime("%^b") %> </div>
					<div class="date"> <%= event.event_date.strftime("%d") %> </div>
					<div class="day"><%= event.event_date.strftime("%^a") %> </div>
				</div>
				<div class="col-md-8">
					<div class="profile-event-header">
						<%= event.name %>
					</div>
					<div class="profile-description">
						<%= truncate(event.description, :length => 180) %> <br>

					</div>
				</div>
			</div>
		</div>
		

		<% end %>
	</div>
</div>
