<p id="notice"><%= notice %></p>

<%= image_tag @category.image.url %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<%= link_to 'New Category', new_category_path, class: "btn btn-link" %>
